.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.bgImg {
  background-image: url(../assets/SLIDER-IMAGE-01-01-01.png);
  background-position: center;
  height: 100vh;
  background-size: cover;
}

.bgAbout {
  background-image: url(../assets/ABOUT-US-IMAGE-01.png);
}
.bgFocus {
  background: linear-gradient(45deg, #2992d0, #51b74b) !important;
  color: #ffffff !important;
}

.bgSuccess{
    background: #ffffff;
}

.bgJoin{
   background-image: url(../assets/open-workspace-2.jpg);  
   background-position: 100% 100%;
   background-size: cover;
   background-repeat: no-repeat;
   position: relative;
   border-bottom: 0 !important;
}

.bgOverlay{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    background-color: #013042;
    opacity: .75;
}